.clj-kondo/.cache/
target/
files/botdata/

.lein-repl-history
.clj-kondo/

target/classes/META-INF/maven/ogbot/ogbot/pom.properties
.lein-repl-history
target/classes/META-INF/maven/ogbot/ogbot/pom.properties
captcha_debug.png
debug/login_failed.png
files/session.edn
target/classes/META-INF/maven/ogbot/ogbot/pom.properties
